body {
    font-family: 'Ubuntu', sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  #title 
  {
      font-size: 20px;
      margin: 1% 2%;
      text-align: left;
      font-family: 'Ubuntu', sans-serif;
      color: white;
  }
  
  #searchDiv {
    display: flex;
    margin-top: 1%;
    width: 20%;
  }

#searchButton {
  font-weight: bold;
  border: none;
  margin-left: 4px;
  color: white;
  background-color: #aa57f2;
  border-radius: 5px;
}

#resetButton {
  font-weight: bold;
  margin-left: 4px;
  border: none;
  color: white;
  background-color: #6dd67f;
   border-radius: 5px;
}


  
  #row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  #label-text {
    font-weight: bold;
    margin-right: 3px;
    margin-left: 5px;
  }
  
  #addButton {
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    background-color: #4285F4;
    color: white;
  }
  
  #addButton:hover {
    opacity: 50%;
  }

  table, th, td, tr {
    border: 1px solid black;
  }